<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

<!--    <servlet>-->
<!--        <servlet-name>UserRegisterServlet</servlet-name>-->
<!--        <servlet-class>com.controller.UserRegisterServlet</servlet-class>-->
<!--    </servlet>-->
<!--    &lt;!&ndash;Servlet的请求路径&ndash;&gt;-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>UserRegisterServlet</servlet-name>-->
<!--        <url-pattern>/jsp/userregister</url-pattern>-->
<!--    </servlet-mapping>-->


</web-app>